body {
	background: #000;
	padding-top: 120px;
	margin-bottom: 60px;
}

#game {
  margin: auto;
  font-size:24;
  color: floralwhite;
  margin-left: 100px;
  
}

html {
  position: relative;
  min-height: 100%;
}

.navbar-nav {
    width: 100%;
    text-align: center;
}

input {
  
  font-size:40;
  color: black;
}

#game p {
  margin-top: 30px;

}

#game h2 {
  margin-top: 100px;
  font-size:50;
  color:darkslategray;
  font-family: Courier;
}
